.km-header
  = render 'shared/km-header'
  .km-sign-up__bar
    %ol.progress-bar.clearfix
      %li.progress-text
        会員情報
        .progress-status.active
          .progress-status-bar.active
      %li.progress-text
        電話番号認証
        .progress-status.active
          .progress-status-bar-step2.active
      %li.progress-text.active
        お届け先住所入力
        .progress-status.active
          .progress-status-bar-step3
      %li.progress-text
        支払い方法
        .progress-status
          .progress-status-bar-step4
      %li.progress-text
        完了
        .progress-status
.km-main
  .km-main__container
    .km-head__title
      発送元・お届け先住所入力
    .km-ragistration-form__inner
      .km-form__wrapper
        .km-form__container
          %label{class: "km-label"}
            お名前
          .km-form-require
            必須
          %input{class: "km-form", placeholder: "例) 山田"}
          %input{class: "km-form", placeholder: "例) 彩"}
        .km-form__container
          %label{class: "km-label"}
            お名前カナ
          .km-form-require
            必須
          %input{class: "km-form", placeholder: "例) ヤマダ"}
          %input{class: "km-form", placeholder: "例) アヤ"}
        .km-form__container
          %label{class: "km-label"}
            郵便番号
          .km-form-require
            必須
          %input{class: "km-form", placeholder: "例) 123-4567"}
        .km-form__container
          %label{class: "km-label"}
            都道府県
          .km-form-require
            必須
          .km-prefecture-select__container
            .select-wrap
              = fa_icon 'chevron-down', class: "km-select-arrow"
              %select.select{id: "", name: ""}
                %option{value: ""} 北海道
                %option{value: ""} 002
                %option{value: ""} 003
        .km-form__container
          %label{class: "km-label"}
            市区町村
          .km-form-require
            必須
          %input{class: "km-form", placeholder: "例) 横浜市緑区"}
        .km-form__container
          %label{class: "km-label"}
            番地
          .km-form-require
            必須
          %input{class: "km-form", placeholder: "例) 青山1-1-1"}
        .km-form__container
          %label{class: "km-label"}
            建物名
          .km-form-any
            任意
          %input{class: "km-form", placeholder: "例) 柳ビル103"}
        .km-form__container
          %label{class: "km-label"}
            電話
          .km-form-any
            任意
          %input{class: "km-form", placeholder: "例) 09012345678"}
        .km-form__container
          = link_to step5_signup_index_path, class: "km-submit-next__btn btn-red" do
            次へ進む
= render 'shared/km-footer'