%header.header
  =render 'shared/top-header'
- breadcrumb :user_logout
= render 'shared/breadcrumbs'
.tncontents
  %nav.tnmypage-nav
    = render 'shared/tn-sidebar'
  .tncontents__logout
    -# =link_to 'http://google.co.jp', class: 'tnlogoutbtn' do
    =link_to destroy_user_session_path, class: 'tnlogoutbtn', method: :delete do
      .tncontents__logout__btn
        %span ログアウト
=render 'shared/top-footerimg'
.footer
  =render 'shared/top-footer'
.footer-self-btn
  出品
  %br
  = fa_icon 'camera',class:"camera"