%ul.tnmypage-nav__lists
  %li.list
    =link_to '/twos', class: 'list__text' do
      マイページ
      =fa_icon 'chevron-right', class: 'icon'
  %li.list
    =link_to '/twos/show', class: 'list__text' do
      お知らせ
      =fa_icon 'chevron-right', class: 'icon'
  %li.list
    =link_to '/copys/show', class: 'list__text' do
      いいね！一覧
      =fa_icon 'chevron-right', class: 'icon'
  %li.list
    =link_to '/threes', class: 'list__text' do
      出品する
      =fa_icon 'chevron-right', class: 'icon'
  %li.list
    =link_to 'threes/show', class: 'list__text' do
      出品した商品-出品中
      =fa_icon 'chevron-right', class: 'icon'
  %li.list
    =link_to 'http://google.co.jp', class: 'list__text' do
      出品した商品-取引中
      =fa_icon 'chevron-right', class: 'icon'
  %li.list
    =link_to 'http://google.co.jp', class: 'list__text' do
      出品した商品-売却済み
      =fa_icon 'chevron-right', class: 'icon'
  %li.list
    =link_to 'http://google.co.jp', class: 'list__text' do
      購入した商品-取引中
      =fa_icon 'chevron-right', class: 'icon'
  %li.list
    =link_to 'http://google.co.jp', class: 'list__text' do
      購入した商品-過去の取引
      =fa_icon 'chevron-right', class: 'icon'
  %li.list
    =link_to 'http://google.co.jp', class: 'list__text' do
      ニュース一覧
      =fa_icon 'chevron-right', class: 'icon'
  %li.list
    =link_to 'http://google.co.jp', class: 'list__text' do
      評価一覧
      =fa_icon 'chevron-right', class: 'icon'
  %li.list
    =link_to 'http://google.co.jp', class: 'list__text' do
      ガイド
      =fa_icon 'chevron-right', class: 'icon'
  %li.list
    =link_to 'http://google.co.jp', class: 'list__text' do
      お問い合わせ
      =fa_icon 'chevron-right', class: 'icon'
%h3.tnmypage-nav__head
  メルペイ
%ul.tnmypage-nav__lists
  %li.list
    =link_to 'http://google.co.jp', class: 'list__text' do
      残高・振込申請
      =fa_icon 'chevron-right', class: 'icon'
  %li.list
    =link_to 'http://google.co.jp', class: 'list__text' do
      ポイント
      =fa_icon 'chevron-right', class: 'icon'
%h3.tnmypage-nav__head
  設定
%ul.tnmypage-nav__lists
  %li.list
    =link_to 'http://google.co.jp', class: 'list__text' do
      プロフィール
      =fa_icon 'chevron-right', class: 'icon'
  %li.list
    =link_to 'http://google.co.jp', class: 'list__text' do
      発送元・お届け先住所変更
      =fa_icon 'chevron-right', class: 'icon'
  %li.list
    =link_to 'http://google.co.jp', class: 'list__text' do
      支払い方法
      =fa_icon 'chevron-right', class: 'icon'
  %li.list
    =link_to 'http://google.co.jp', class: 'list__text' do
      メール/パスワード
      =fa_icon 'chevron-right', class: 'icon'
  %li.list
    =link_to 'http://google.co.jp', class: 'list__text' do
      本人情報
      =fa_icon 'chevron-right', class: 'icon'
  %li.list
    =link_to 'http://google.co.jp', class: 'list__text' do
      電話番号の確認
      =fa_icon 'chevron-right', class: 'icon'
  %li.list
    =link_to 'http://google.co.jp', class: 'list__text' do
      ログアウト
      =fa_icon 'chevron-right', class: 'icon'