.footer__container {
  width: 456px;
  margin: 0 auto;
  padding: 40px 0;
  clear: both;
  text-align: center;
  .footer__text-policy {
    height: 10px;
    width: 100%;
    text-align: center;
    .policy-list {
      display: inline-block;
      margin: 0 0 0 16px;
      font-size: 11px;
      text-decoration: none;
      color: black;
    }
  }
  .footer__logo {
    height: 65px;
    width: 80px;
    margin: 40px auto 0;
  }
  .footer__logo-text {
    margin-top: 8px;
    font-size: 11px;
    text-align: center;
  }
}
