$km-line-gray: #ccc;
$km-back-gray:  #ecf1f7;
$km-active-red: red;

.km-header {
  height: 128px;
  width: 100%;
  float: left;
  background-color: $km-back-gray;
  text-align: center;
  .km-header__image {
    height: 49px;
    width: 185px;
    margin-right: 8px;
    vertical-align: middle;
    margin-top: 40px;
  }
  .km-sign-up__bar {
    display: inline-block;
    vertical-align: top;
    width: 512px;
    padding: 40px 0 0 44px;
    .progress-bar {
      display: flex;
      .progress-text {
        min-width: 60px;
        font-size: 12px;
        margin-right: 40px;
        color: #888;
        &:last-of-type {
          margin-right: 0px;
        }
        .progress-status {
          width: 12px;
          height: 12px;
          margin: 8px auto 0;
          background: $km-line-gray;
          border-radius: 50%;
          position: relative;
          &-bar {
            position: absolute;
            bottom: 5px;
            display: block;
            content: '';
            width: 445px;
            height: 2px;
            left: 100%;
            background: $km-line-gray;
          }
          &-bar-step2 {
            position: absolute;
            bottom: 5px;
            display: block;
            content: '';
            width: 115px;
            height: 2px;
            left: 100%;
            background: $km-line-gray;
          }
          &-bar-step3 {
            position: absolute;
            bottom: 5px;
            display: block;
            content: '';
            width: 115px;
            height: 2px;
            left: 100%;
            background: $km-line-gray;
          } 
          &-bar-step4 {
            position: absolute;
            bottom: 5px;
            display: block;
            content: '';
            width: 100px;
            height: 2px;
            left: 100%;
            background: $km-line-gray;
          }           
          .active{
            background: $km-active-red; 
           }  
        }
        .active {
          background: $km-active-red;
        }
      }
      .active {
        color: $km-active-red;
      }
    }
  }
}