.km-main {
  height: calc(100% - 128px);
  width: 100%;
  float: left;
  .km-login__container {
    height: calc(100% - 128px);
    width: 456px;
    margin: 0 auto;
    .km-head__title {
      font-size: 22px;
      padding: 32px;
      text-align: center;
      font-weight: bold;
      background-color: #ffffff;
    }
    .km-sign_up-link__inner {
      height: 100%;
      padding: 40px 40px 32px;
      margin-bottom: 1px;
      background-color: #ffffff;
      .km-form__wrapper {
        max-width: 343px;
        height: 100%;
        margin: 0 auto;
        .km-form__container {
          margin-bottom: 32px;
          .km-form__info-text-log_in {
            margin-top: 8px;
            font-size: 14px;
            text-align: center;
          }
          .km-sign_up__btn {
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            cursor: pointer;
            text-align: center;
            background-color: #0099e8;
            border: 1px solid transparent;
            margin-top: 8px;
            color: #fff;
          }
        }
      }
    }
    .km-login-form__inner {
      height: 100%;
      padding: 24px 40px 32px;
      background-color: #ffffff;
      .km-form__wrapper {
        max-width: 343px;
        height: 100%;
        margin: 0 auto;
        .km-login-form__container {
          margin-bottom: 24px;
          .km-form__info-text-log_in {
            margin-top: 8px;
            font-size: 14px;
            text-align: center;
          }
          .km-sign_up__btn {
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            cursor: pointer;
            text-align: center;
            background-color: #0099e8;
            border: 1px solid transparent;
            margin-top: 8px;
            color: #fff;
          }
          .km-log_in__btn {
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            cursor: pointer;
            text-align: center;
            border: 1px solid transparent;
            margin-top: 8px;
            color: #fff;
          }
          .km-form {
            width: 321px;
            padding: 10px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
          }
          .btn-red {
            background: #ea352d;
            border: 1px solid #ea352d;
            color: #fff;
          }
          .km-password__info-text {
            margin-top: 40px;
            font-size: 14px;
            text-align: left;
            a {
              color: #0099e8;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}