
.tncontents {
  height: 1600px;
  width: 100vw;
  background-color: $tngray;
  position: relative;
  .tnmypage-nav {
    width: 280px;
    position: absolute;
    top: 40px;
    left: 150px;
    &__lists {
      height: 100%;
      width: 100%;
      background-color: white;
      .list {
        width: 100%;
        height: 60px;
        border-bottom: solid;
        border-width: 1px;
        border-color: $tngray;
        position: relative;
        &__text {
          line-height: 60px;
          padding-left: 10px;
          text-decoration: none;
          color: black;
        }
        .icon {
          position: absolute;
          top: 22px;
          right: 10px;
        }
      }
    }
    &__head {
      font-weight: bold;
      padding-top: 40px;
    }

  }
  &__right  {
    height: 1400px;
    width: 700px;
    position: absolute;
    top: 40px;
    right: 250px;
    &__user {
      height: 200px;
      background-image: url('https://cdn.pixabay.com/photo/2017/02/16/19/47/bokeh-2072271_1280.jpg');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      &--avatar {
        width: 60px;
        padding-top: 40px;
        margin: 0 auto;
        .tnperson {
          border-radius: 50%;
        }
      }
      h1 {
        font-weight: bold;
        padding-top: 10px;
        padding-bottom: 10px;;
        text-align: center;
      }
      &__number {
        height: 30px;
        text-align: center;
        &--review {
          display: inline-block;
          font-size: 15px;
          span {
            padding-left: 10px;
          }
        }
        &--item {
          display: inline-block;
          font-size: 15px;
          span {
            padding-left: 10px;
          }
        }
      }
    }
    &__info {
      background-color: white;
      &__lists {
        background-color: $tnlist-gray;
        height: 100px;
        display: flex;
        &--left {
          width: 350px;
          text-align: center;
          line-height: 100px;
          .tninfo{
            text-decoration: none;
            color: black;
          }
        }
        &--right {
          width: 350px;
          text-align: center;
          line-height: 100px;
          .tninfo{
            text-decoration: none;
            color: black;
          }
        }
      }
      &__index {
        height: 100%;
        &__message {
          height: 90px;
          border-bottom: solid;
          border-width: 1px;
          position: relative;
          border-color: $tngray;
          .tnmessage {
            text-decoration: none;
            display: flex;
            color: black;
          }
          &--icon {
            width: 60px;
            padding-top: 15px;
            padding-left: 15px;
          }
          &--text {
            padding-left: 20px;
            padding-top: 15px;
          }
          .icon {
          position: absolute;
          top: 37px;
          right: 20px;
          font-size: 20px;
          }
          &--time {
            display: inline-block;
            position: absolute;
            top: 40px;
            left: 100px;
            span {
              font-size: 15px;
              color: $tnfont-gray;
            }
          }
          &--jump {
            background-color: $tngray;
            width: 650px;
            height: 60px;
            margin: 15px auto;
            text-align: center;
            span {
              line-height: 60px;
              font-size: 15px;
            }
          }
        }
      }
    }
    &__trade {
      margin-top: 50px;
      background-color: white;
      &__title {
        height: 90px;
        line-height: 90px;
        border-bottom: solid;
        border-width: 1px;
        border-color: $tngray;
        span {
          font-weight: bold;
          padding-left: 20px;
        }
      }
      .tntrade {
        text-decoration: none;
        color: black;
      }
      &__past {
        height: 250px;
        text-align: center;
        line-height: 250px;
        &--sentence {
          font-weight: bold;
          color: $tnfont-gray;
        }
      }
    }
  }
}