.tnheader {
  width: 100vw;
  height: 150px;
  background-color: #EEEEEE;
  text-align: center;
  line-height: 170px;
    .logoimage {
      height: 49px;
      width: 185px;
    }
}
.tnmain {
  width: 100vw;
  height: 2480px;
  background-color: #EEEEEE;
  &__contents {
    width: 700px;
    height: 2480px;
    background-color: white;
    margin: 0 auto;
    &--title {
      height: 100px;
      border-bottom: solid;
      border-width: 1px;
      border-color: #EEEEEE;
      text-align: center;
      line-height: 100px;
      font-weight: bold;
      font-size: 20px
    }
    &__form {
      &__imagebox {
        height: 300px;
        border-bottom: solid;
        border-width: 1px;
        border-color: #EEEEEE;
        &__guidebox {
          margin-top: 40px;
          margin-left: 40px;
          .tnguide {
            font-weight: bold;
          }
          .tnhissu {
            display: inline-block;
            width: 40px;
            height: 22px;
            margin-left: 10px;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            line-height: 22px;
            border-radius: 3px;
            background-color: red;
            color: white;
          }
        }
        &--note {
          padding-left: 40px;
          padding-top: 10px;
          font-size: 14px;
        }
        &__preview {
          height: 180px;
          width: 620px;
          border: dotted;
          border-width: 2px;
          border-color: #CCCCCC;
          margin: 20px auto;
          background-color: #f5f5f5;
          &__btn {
            margin-top: 70px;
            font-size: 14px;
            font-weight: bold;
          }
        }
        label {
          display: inline-block;
          height: 100%;
          width: 100%;
          text-align: center;
          
        }
        #postimage {
          display: none;
        }
      }
      &__itemname {
        height: 350px;
        border-bottom: solid;
        border-width: 1px;
        border-color: #EEEEEE;
        .inputname {
          width: 610px;
          height: 40px;
          margin-top: 10px;
          margin-left: 40px;
          padding-left: 10px;
          border-radius: 3px;
          border: 1px solid #ccc;
        }
        textarea {
          margin-left: 40px;
          margin-top: 10px;
        }
      }
      &__detail {
        height: 500px;
        border-bottom: solid;
        border-width: 1px;
        border-color: #EEEEEE;
        position: relative;
        h3 {
          font-size: 15px;
          font-weight: bold;
          color: #BBBBBB;
          position: absolute;
          top: 40px;
          left: 40px;
        }
        &__guidebox {
          position: absolute;
          top: 37px;
          right: 250px;
          .tnguide {
            font-weight: bold;
            font-size: 15px;
          }
          .tnhissu {
            display: inline-block;
            width: 40px;
            height: 22px;
            margin-left: 10px;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            line-height: 22px;
            border-radius: 3px;
            background-color: red;
            color: white;
          }
        }
        &__category {
          width: 100%;
          position: relative;
          display: inline-block;
          position: absolute;
          top: 70px;
          left: 260px;
        }
        &__category::after {
          content: '';
          width: 6px;
          height: 6px;
          border: 0px;
          border-bottom: solid 2px #b4b3b3;
          border-right: solid 2px #b4b3b3;
          -ms-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          position: absolute;
          top: 50%;
          left: 360px;
          margin-top: -4px;
        }
        .tncategory {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          width: 350px;
          height: 45px;
          margin: 10px 50px;
          background: transparent;
          position: relative;
          z-index: 1;
          padding: 0 40px 0 10px;
          border: 1px solid #b4b3b3;
          border-radius: 3px;
        }
        .tncategory::-ms-expand {
          display: none;
        }
        &__guidebox2 {
          position: absolute;
          top: 260px;
          right: 250px;
          .tnguide {
            font-weight: bold;
            font-size: 15px;
          }
          .tnhissu {
            display: inline-block;
            width: 40px;
            height: 22px;
            margin-left: 10px;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            line-height: 22px;
            border-radius: 3px;
            background-color: red;
            color: white;
          }
        }
        &__category2 {
          width: 100%;
          position: relative;
          display: inline-block;
          position: absolute;
          top: 280px;
          left: 260px;
        }
        &__category2::after {
          content: '';
          width: 6px;
          height: 6px;
          border: 0px;
          border-bottom: solid 2px #b4b3b3;
          border-right: solid 2px #b4b3b3;
          -ms-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          position: absolute;
          top: 50%;
          left: 360px;
          margin-top: -4px;
        }
        &__guidebox3 {
          position: absolute;
          top: 290px;
          right: 250px;
          .tnguide {
            font-weight: bold;
            font-size: 15px;
          }
          .tnhissu {
            display: inline-block;
            width: 40px;
            height: 22px;
            margin-left: 10px;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            line-height: 22px;
            border-radius: 3px;
            background-color: red;
            color: white;
          }
        }
        &__category3 {
          width: 100%;
          position: relative;
          display: inline-block;
          position: absolute;
          top: 320px;
          left: 260px;
        }
      }
      &__delivery {
        height: 500px;
        border-bottom: solid;
        border-width: 1px;
        border-color: #EEEEEE;
        position: relative;
        h3 {
          font-size: 15px;
          font-weight: bold;
          color: #BBBBBB;
          position: absolute;
          top: 40px;
          left: 40px;
        }
        .tnquestion {
          text-decoration: none;
          display: inline-block;
          width: 14px;
          height: 14px;
          border-radius: 50%;
          background-color: #0099e8;
          color: white;
          line-height: 14px;
          text-align: center;
          font-size: 12px;
          position: absolute;
          top: 45px;
          left: 130px;
        }
        &__fee {
          width: 100%;
          position: relative;
          display: inline-block;
          position: absolute;
          top: 70px;
          left: 260px;
        }
        &__fee::after {
          content: '';
          width: 6px;
          height: 6px;
          border: 0px;
          border-bottom: solid 2px #b4b3b3;
          border-right: solid 2px #b4b3b3;
          -ms-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          position: absolute;
          top: 50%;
          left: 360px;
          margin-top: -4px;
        }
        .tndelivery {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          width: 350px;
          height: 45px;
          margin: 10px 50px;
          background: transparent;
          position: relative;
          z-index: 1;
          padding: 0 40px 0 10px;
          border: 1px solid #b4b3b3;
          border-radius: 3px;
        }
        .tndelivery::-ms-expand {
          display: none;
        }
        &__guidebox3 {
          position: absolute;
          top: 350px;
          right: 235px;
          .tnguide {
            font-weight: bold;
            font-size: 15px;
          }
          .tnhissu {
            display: inline-block;
            width: 40px;
            height: 22px;
            margin-left: 10px;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            line-height: 22px;
            border-radius: 3px;
            background-color: red;
            color: white;
          }
        }
        &__day {
          width: 100%;
          position: relative;
          display: inline-block;
          position: absolute;
          top: 385px;
          left: 260px;
        }
        &__day::after {
          content: '';
          width: 6px;
          height: 6px;
          border: 0px;
          border-bottom: solid 2px #b4b3b3;
          border-right: solid 2px #b4b3b3;
          -ms-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          position: absolute;
          top: 50%;
          left: 360px;
          margin-top: -4px;
        }
        .tndelivery {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          width: 350px;
          height: 45px;
          margin: 10px 50px;
          background: transparent;
          position: relative;
          z-index: 1;
          padding: 0 40px 0 10px;
          border: 1px solid #b4b3b3;
          border-radius: 3px;
        }
        .tndelivery::-ms-expand {
          display: none;
        }
      }
      &__price {
        height: 300px;
        border-bottom: solid;
        border-width: 1px;
        border-color: #EEEEEE;
        position: relative;
        h3 {
          font-size: 13px;
          font-weight: bold;
          color: #BBBBBB;
          padding-top: 40px;
          padding-left: 40px;
        }
        .tnquestion {
          text-decoration: none;
          display: inline-block;
          width: 14px;
          height: 14px;
          border-radius: 50%;
          background-color: #0099e8;
          color: white;
          line-height: 14px;
          text-align: center;
          font-size: 12px;
          position: absolute;
          top: 42px;
          left: 220px;
        }
        &__box {
          height: 220px;
          width: 400px;
          float: right;
          margin-right: 20px;
          &__input {
            height: 80px;
            border-bottom: solid;
            border-width: 1px;
            border-color: #EEEEEE;
            &__guide {
              .guidebox {
                float: left;
                padding-top: 10px;
                .tnguide {
                  font-weight: bold;
                  font-size: 14px;
                }
                .tnhissu {
                  display: inline-block;
                  width: 40px;
                  height: 22px;
                  margin-left: 5px;
                  font-size: 14px;
                  font-weight: bold;
                  text-align: center;
                  line-height: 22px;
                  border-radius: 3px;
                  background-color: red;
                  color: white;
                }
              }
              .inputbox {
                float: right;
                padding-top: 10px;
                input {
                  height: 48px;
                  border-radius: 3px;
                  border: 1px solid #ccc;
                  text-align: right;
                  padding-right: 20px;
                }
              }
            }
          }
          &__fee {
            height: 60px;
            border-bottom: solid;
            border-width: 1px;
            border-color: #EEEEEE;
            line-height: 60px;
            font-size: 15px;
            &--right {
              float: right;
            }
          }
          &__bottom {
            line-height: 80px;
            font-weight: bold;
            &--right {
              padding-top: 10px;
              float: right;
            }
          }
        }
      }
      &__note {
        height: 300px;
        &__text {
          height: 84px;
          width: 620px;
          margin: 40px auto;
          p {
            font-size: 14px;
            a {
              text-decoration: none;
              color: #0099e8
            }
          }
        }
        &__btn {
          margin: 0 auto;
          text-align: center;
          line-height: 60px;
          color: white;
          .tnsubmit {
            width: 620px;
            height: 60px;
            background-color: red;
            border-style: none;
            color: white;
          }
          .tnsubmit[disabled] {
            background-color: gray;
            cursor: not-allowed;
          }
          .km-greyout {
            background-color: gray;
          }
        }
        .tnreturn {
          text-decoration: none;
          color: white;
        }
        &__return {
          width: 280px;
          height: 60px;
          background-color: #BBBBBB;
          margin: 20px auto 0;
          text-align: center;
          line-height: 60px;
        }
        .km-redout {
          background-color: red;
        }
      }
    }
  }
}
.tnfooder {
  width: 100vw;
  height: 300px;
  background-color: #EEEEEE;
  &__policy {
    padding-top: 40px;
    text-align: center;
    &__privacy {
      display: inline-block;
      padding-left: 10px;
      font-size: 14px;
      .privacy {
        text-decoration: none;
        color: black;
      }
    }
  }
  &__logo {
    margin-top: 40px;
    text-align: center;
  }
  p {
    font-size: 12px;
    text-align: center;
  }
}

.kw_hidden {
  display: none;
}

.tnmain__contents__form__detail__guidebox1{
  width: 100%;
  position: relative;
  display: inline-block;
  position: absolute;
  top: 150px;
  left: 305px;
  .tnguide {
    font-weight: bold;
    font-size: 15px;
  }
  .tnhissu {
    display: inline-block;
    width: 40px;
    height: 22px;
    margin-left: 10px;
    border-style: none;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 22px;
    border-radius: 3px;
    background-color: red;
    color: white;
    }
    .tncategory {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 350px;
      height: 45px;
      margin: 10px 50px;
      background: transparent;
      position: relative;
      z-index: 1;
      padding: 0 40px 0 10px;
      border: 1px solid #b4b3b3;
      border-radius: 3px;
    }
    .tncategory::-ms-expand {
      display: none;
    }
}

.tnmain__contents__form__detail__category1{
    width: 100%;
    display: inline-block;
    position: absolute;
    top: 180px;
    left: 260px;
}

.tnmain__contents__form__detail__guidebox4{
  position: absolute;
  top: 350px;
  right: 270px;
  .tnguide {
    font-weight: bold;
    font-size: 15px;
  }
  .tnhissu {
    display: inline-block;
    width: 40px;
    height: 22px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 22px;
    border-radius: 3px;
    background-color: #ccc;
    color: white;
  }
}

.tnmain__contents__form__detail__category4{
  width: 100%;
  position: relative;
  display: inline-block;
  position: absolute;
  top: 380px;
  left: 260px;
}

.items__sell{
  background-color: #ffffff;
  width: 700px;
  margin: 50px auto;
  &__title{
    text-align: center;
    border-bottom: solid 1px #eeeeee;
    padding: 32px;
    &-text{
      font-size: 22px;
    }
  }
  &__form{
    &__upload-image,  &__item__detail, &__items, &__about-delivery, &__price, 
    &__button{
      padding: 40px;
      border-bottom: solid 1px #eeeeee;
    }
    &__require{
      background-color: #ea352d;
      font-size: 12px;
      color: #fff;
      padding: 5px;
      border-radius: 2px;
      &__option{
        background-color: gray;
        font-size: 12px;
        color: #fff;
        padding: 5px;
        border-radius: 2px;
      }
    }
    &__upload-image{
      &-text{
      font-size: 12px;
      }
      &-form{
        min-height: 162px;
        display: block;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        .km-images__preview{
          position: absolute;
          .km-previews{
            display: flex;
            background-color: rgb(241, 241, 241);
            // border: solid 1px black;
            .km-images__container{
              height: 162px;
              width: 126px;
              // padding-right: 2px;
              margin-left: 10px;
              position: relative;
              border: solid 1px black;
              img{
                // position: absolute;
                padding-top: 20px;
                max-height: 116px;
                max-width: 124px;
              }
              .item__images__container__preview__box{
                position: absolute;
                display: flex;
                bottom: 10px;
                // left:
                // justify-content: space-between;
                &__edit{
                  // border: solid 1px black
                  padding-left: 15px;
                  color: #0099e8
                }
                &__delete{
                  padding-left: 30px;
                  cursor: pointer;
                  color: #0099e8
                  // border: solid 1px black
                }
              }
            }
          }
        }
        .km-images__guide {
          width: 100%;
          background-color: lightgray;
          .km-have__image--0 {
            h5 {
              line-height: 162px;
            }
          }
        }
        & label{
          cursor: pointer;
          height: 162px;
          border: 1px dashed #ccc;
          background: #f5f5f5;
          width: 100%;
          position: relative;
          // display: none;
          span {
            display: inline-block;
            padding-top: 40px;
            font-size: 14px;
          }
          & input{
            width: 100%;
            height: 100%;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
        & label[for^="item_images_attributes_0_name"]{
          display: block;
        }
      }
    }
  }
}

.tnmain__contents__form__detail__guidebox1-1{
          position: absolute;
          top: 37px;
          right: 250px;
          .tnguide {
            font-weight: bold;
            font-size: 15px;
          }
          .tnhissu {
            display: inline-block;
            width: 40px;
            height: 22px;
            margin-left: 10px;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            line-height: 22px;
            border-radius: 3px;
            background-color: red;
            color: white;
          }
}


.tnmain__contents__form__detail__category1-1{
          width: 100%;
          position: relative;
          display: inline-block;
          position: absolute;
          top: 60px;
          left: 260px;
}

.tnmain__contents__form__detail__guidebox2-1{
  position: absolute;
  top: 130px;
  right: 250px;
  .tnguide {
    font-weight: bold;
    font-size: 15px;
  }
  .tnhissu {
    display: inline-block;
    width: 40px;
    height: 22px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 22px;
    border-radius: 3px;
    background-color: red;
    color: white;
  }
}

.tnmain__contents__form__detail__category2-1{
  width: 100%;
  position: relative;
  display: inline-block;
  position: absolute;
  top: 160px;
  left: 260px;
}

.tnmain__contents__form__detail__guidebox3-1{
  position: absolute;
  top: 240px;
  right: 280px;
  .tnguide {
    font-weight: bold;
    font-size: 15px;
  }
  .tnhissu {
    display: inline-block;
    width: 40px;
    height: 22px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 22px;
    border-radius: 3px;
    background-color: red;
    color: white;
  }
}

.tnmain__contents__form__detail__category3-1{
  width: 100%;
  position: relative;
  display: inline-block;
  position: absolute;
  top: 270px;
  left: 260px;
}