.tncontents {
  height: 1800px;
  width: 100vw;
  background-color: #EEEEEE;
  position: relative;
  &__logout {
    width: 700px;
    height: 200px;
    background-color: white;
    position: absolute;
    top: 40px;
    right: 250px;
    .tnlogoutbtn {
      text-decoration: none;
      color: white;
    }
    &__btn {
      height: 60px;
      width: 400px;
      background-color: red;
      text-align: center;
      line-height: 60px;
      margin: 60px auto;
      span {
        font-size: 14px;
      }
    }
  }
}