.tncontents {
  height: 1600px;
  width: 100vw;
  background-color: $tngray;
  position: relative;
  &__cardindex {
    width: 700px;
    height: 350px;
    background-color: white;
    position: absolute;
    top: 40px;
    right: 220px;
    &__header {
      height: 60px;
      border-bottom: solid;
      border-width: 2px;
      border-color: $tngray;
      text-align: center;
      line-height: 60px;
      p {
        font-size: 25px;
        font-weight: bold;
        color: #222222;
      }
    }
    &__lists {
      width: 600px;
      height: 140px;
      border-bottom: solid;
      border-width: 1px;
      border-color: $tngray;
      margin: 40px auto 0;
      &__index {
        width: 320px;
        margin: 0 auto;
        p {
        font-weight: bold;
        color: #222222;
        }
      }
      &__payment {
        margin-top: 10px;
        &__form {
          width: 320px;
          margin: 0 auto;
          position: relative;
          &__number {
            margin-top: 10px;
            font-size: 14px;
          }
          &__date {
            margin-top: 10px;
            font-size: 14px;
          }
          .delete__button {
            position: absolute;
            top: 10px;
            right: 20px;
            height: 30px;
            width: 70px;
            font-size: 13px;
            border-radius: 4px;
            border-color: red;
            color: red;

          }
        }
      }
    }
    &__link {
      color: #0099e8;
      font-size: 15px;
      margin-top: 40px;
      margin-right: 50px;
      float: right;
    }
  }
}